<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Deixe seu Feedback</h1>
    <form action="{{ url_for('feedback') }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email"> <br><br>
        
        <label for="comentario">Comentário:</label><br>
        <textarea id="comentario" name="comentario" rows="4" cols="50">
        </textarea><br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>