<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Cadastrar Usuário</h2>
    <form method="POST">
        <label for="name">Nome do Usuário:</label>
        <input type="text" id="name" name="name" required>
        <label for="manager_id">Gerente:</label>
        <select id="manager_id" name="manager_id" required>
            {% for manager in managers %}
                <option value="{{ manager.id }}">{{ manager.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Cadastrar</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>