<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="{{ url_for('users.register') }}" method="post">
            <label for="user_id">Usuário:</label>
            <input type="text" value="{{request.form['nome']}}" placeholder="Nome" name="nome">
            <br> 
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

</body>
</html>